@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.fileUploadForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.int-uploader {
    all: unset;
    padding: 12px 15px;
    background-color: white;
    box-sizing: border-box;
}

.upload {
    border: 4px solid black;
    box-shadow: 6px 6px black;
    font-family: 'Roboto', sans-serif;
}

.upload-button {
    background-color: #AEEC7E;
}

.upload-button:hover {
    background-color: #ffe48c;
}

.upload-button:active {
    background-color: #c58cff;
    box-shadow: none;
}

@media screen and (min-width: 250px) {
    .fileUploadForm {
        width: 230px;
        height: 400px;
    }
    
    .int-uploader {
        height: 50px;
        padding: 12px 15px;
    }
    
    .upload {
        width: 100%;
        max-height: 50px;
        max-width: 230px;
        font-size: 12px;
    }
    
    .upload-button {
        height: 50px;
        width: 230px;
    }
    
    .upload-button:active {
        width: 227px;
        height: 53px;
    }
  }

  @media screen and (min-width: 350px) {
    .fileUploadForm {
        width: 300px;
        height: 400px;
    }
    
    .int-uploader {
        height: 65px;
        padding: 12px 15px;
    }
    
    .upload {
        width: 100%;
        max-height: 65px;
        max-width: 300px;
        font-size: 16px;
    }
    
    .upload-button {
        height: 65px;
        width: 300px;
    }
    
    .upload-button:active {
        width: 297px;
        height: 68px;
    }
  }