@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.cadar-slider {
    max-width: 250px
}

.file-upload-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    max-height: 500px;
    margin: 0;
    padding: 1.2rem;
}

.input-area {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-height: 200px;
}

.int-uploader {
    all: unset;
    padding: 12px 15px;
    background-color: white;
    box-sizing: border-box;
}

.home-link {
    color: #000000;
}

.marker-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
}

@media screen and (min-width: 250px) {
    .file-upload-form {
        width: 230px;
    }

    .int-uploader {
        height: 50px;
        padding: 12px 15px;
    }

    .upload {
        width: 100%;
        max-height: 50px;
        max-width: 230px;
        font-size: 12px;
    }

    .upload-button {
        height: 50px;
        width: 230px;
    }
}

@media screen and (min-width: 350px) {
    .file-upload-form {
        width: 300px;
    }

    .int-uploader {
        height: 65px;
        padding: 12px 15px;
    }

    .upload {
        width: 100%;
        max-height: 65px;
        max-width: 300px;
        font-size: 16px;
    }

    .upload-button {
        height: 65px;
        width: 300px;
    }
}