.file-preview-card>.model-preview {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.canvas-model-preview,
.canvas-model-preview>canvas {
    width: 250px !important;
    height: 250px !important;
    border-radius: 10%;
}

.marker-preview {
    width: 250px;
    height: 250px;
}

.marker-preview:hover,
.model-preview:hover {
    cursor: pointer;
}

.file-preview-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.files-preview {
    overflow-y: auto;
    overflow-x: hidden;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.files-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
}

::-webkit-scrollbar {
    width: 6px;
    /* background-color: rgb(255, 255, 255); */
}

::-webkit-scrollbar-thumb {
    background: #7d7d7d;
    border-radius: 3px;
    background-clip: padding-box;
}